<form class="registration-form">
        <label>
            <input type="text" name="firstName" placeholder="Enter you first name">
          </label>
          <label>
            <input type="text" name="firstName" placeholder="Enter you last name">
          </label>
          <label>
              <input type="text" name="login" placeholder="Enter you login">
            </label>
          <label>
            <input type="email" name="mail" placeholder="Enter your mail">
          </label>
          <button type="submit">registration</button>
    </form>